.team-detail-card{
    height: 50px !important;
    border-radius: 10px;
    margin: 10px;
    box-shadow: blacks;
    border: 1px solid lightblue;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    position: relative;
    flex: 1 1 25%;
}

.team-detail-card:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent lightblue transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
  }

.teamList{
    display: flex;
    flex-wrap: wrap;
}

.team-list-main-heading{
margin: 0;
}

.outer-box{
   margin: 5%;
}

.inner-box{
    display: flex;
}

.add-btn{
    margin-left: auto !important;
    height: 37px;
} 

.login-card{
    border-radius: 10px;
    margin: 10px;
    box-shadow: blacks;
    border: 1px solid lightblue;
    padding-left: 10px;
    position: relative;
    padding: 30px;
}

.login-card:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent lightblue transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
  }

.nav-link{
    color: white !important;
    text-decoration: none;
    margin-bottom: 2px;
    font-size: 25px;
}

.nav-link-active{
    /*border-bottom: 3px solid hotpink;*/
    color: hotpink !important;
}

/* .header{
    position: sticky;
    z-index: 99;
} */

.sidebar{
    background-color: #1976d2;
    max-height: 100vh;
    height: inherit;
    overflow: hidden;
}

body, #root{
    height: 100vh;
    width: 100%;
}

.layout{
    margin-top: 64px;
    max-height: 100vh;
    overflow-y: scroll;
    display: flex;
    gap: 10px;
}